<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <connectionStrings>
    <add name="mssqlserver" connectionString="server=10.120.20.47;database=db_15;uid=sa;pwd=a123456."/>
  </connectionStrings>
</configuration>
